.users {
    
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20px 20px 20px 15px;
}

.UserList {
    grid-area: conversation-list;
    background: #0048AA;
    overflow-y: scroll;
  }
  
 
  .UserList > img {
    grid-row: span 2;
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }
  
