.DisplayMessage{   
     grid-area: DisplayMessage;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
    overflow-y: scroll;
  }
  
  .messagerow {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
  }
  
  .messagedata {
    display: grid;
  }
  
  
  .userid {
    font-size: 1.3rem;
    color: #777;
  }
  
  .textmessage {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
  