.sendmessageform {
    background: var(--send-message-form);
    display: flex;
  }
  
  .sendmessageform input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;
  
  }
  



 
  

