  
.MessagePanel {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar {
  display: none;
}
.MessagePanel {
  
  margin: auto;
  display: grid;
  grid-area: 'SidePanel DisplayMessage DisplayMessage DisplayMessage DisplayMessage'
             'SidePanel sendmessageform sendmessageform sendmessageform sendmessageform sendmessageform';
 
  min-width: 800px;
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 95vh;
  background: rgb(148, 34, 34);
  border-radius: 5px;
  border-radius: 10px;
}


